<form>
  <div class="form-group">
    <label>
      <input type="radio" name="action" value="sw" />
      Swift Action (1d4)
    </label>
  </div>
  <div class="form-group">
    <label>
      <input type="radio" name="action" value="m" />
      Move Action (1d6)
    </label>
  </div>
  <div class="form-group">
    <label>
      <input type="radio" name="action" value="s" />
      Standard Action (1d8)
    </label>
  </div>
  <div class="form-group">
    <label>
      <input type="radio" name="action" value="sp" />
      Casting Spell Action (1d10)
    </label>
  </div>
  <div class="form-group">
    <label>
      <input type="radio" name="action" value="f" />
      Full-round Action (1d8+1d6)
    </label>
  </div>
</form>